/**

jQuery Awselect
Developed by: Prev Wong
Documentation: https://prevwong.github.io/awesome-select/
Github: https://github.com/prevwong/awesome-select/

**/
.immersive_awselect {
  overflow: hidden !important; }

.awselect_bg {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }
  .awselect_bg.animate {
    opacity: 1; }

.awselect {
  float: left;
  font-size: 1.4rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .awselect > .bg {
    background: #fff;
    height: 0%;
    float: left;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 3px !important;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .awselect .front_face {
    border-radius: 3px;
    position: relative;
    padding: 20px 40px;
    color: #888;
    float: left;
    width: 100%; }
    .awselect .front_face > .bg {
      position: absolute;
      z-index: 0;
      float: left;
      width: 100%;
      height: 100%;
      left: 0;
      background: #e5e5e5;
      top: 0;
      border-radius: 3px !important; }
    .awselect .front_face .content {
      float: left;
      width: 100%;
      position: relative;
      z-index: 2; }
    .awselect .front_face span {
      -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      float: left;
      width: 100%;
      color: inherit; }
    .awselect .front_face .current_value {
      position: absolute;
      left: 0; }
    .awselect .front_face .placeholder {
      position: relative;
      margin-right: 40px; }
    .awselect .front_face .icon {
      float: right;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: rotate(180deg) translateY(-50%);
      transform-origin: center 0;
      -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
      .awselect .front_face .icon svg {
        width: 10px;
        height: 10px; }
  .awselect .back_face {
    z-index: 2;
    position: absolute;
    padding: 0px;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(20px);
    opacity: 0;
    float: left;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    display: none; }
    .awselect .back_face.overflow {
      overflow-y: scroll; }
    .awselect .back_face ul {
      margin: 0;
      float: left;
      padding: 0;
      width: 100%; }
      .awselect .back_face ul li {
        float: left;
        width: 100%;
        display: block; }
        .awselect .back_face ul li a {
          color: inherit;
          opacity: 0.8;
          float: left;
          width: 100%;
          -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
          .awselect .back_face ul li a:hover {
            background: #455a64;
            opacity: 1; }
  .awselect.animate {
    z-index: 9999; }
    .awselect.animate .front_face .icon {
      transform: rotate(0deg) translateY(-50%); }
    .awselect.animate > .bg {
      height: 100%; }
  .awselect.animate2 > .bg {
    box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.11); }
  .awselect.animate2 .back_face {
    transform: translateY(0px);
    opacity: 1; }
  .awselect.hasValue .front_face .placeholder {
    transform: translateY(20px);
    opacity: 0; }
  .awselect.placeholder_animate .front_face .current_value {
    opacity: 0; }
  .awselect.placeholder_animate2 .front_face .placeholder {
    transform: translateY(0);
    opacity: 1; }
  .awselect.transition_paused {
    transition: none !important; }

.aw_cursor_pointer {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ddd;
  overflow: hidden;
  padding: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(0.5); }
  .aw_cursor_pointer .inner {
    float: left;
    width: 100%;
    height: 0%;
    background: #fff;
    border-radius: 100%;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .aw_cursor_pointer.animate {
    transform: scale(1); }
    .aw_cursor_pointer.animate .inner {
      height: 100%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh; }

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #37474F; }

::selection {
  background-color: rgba(55, 71, 79, 0.15); }

/*.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 20rem;
        transition: transform .2s, box-shadow .2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        display: inline-block;
        color: $color-primary;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        transition: background-color .2s, color .2s, box-shadow .2s, transform .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}*/
.container {
  width: 100%;
  height: 100vh;
  background-color: #eceff1; }

.topbar {
  background-color: #ffffff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  height: 5.5rem;
  box-sizing: border-box;
  padding: 1rem 2.5rem; }
  .topbar > * {
    display: block; }
  .topbar .topbar__logo {
    float: left; }
    .topbar .topbar__logo .topbar__title, .topbar .topbar__logo .topbar__description {
      display: inline;
      vertical-align: baseline; }
    .topbar .topbar__logo .topbar__title {
      font-size: 1.95rem; }
    .topbar .topbar__logo .topbar__description {
      font-size: 1.6rem;
      vertical-align: baseline;
      margin-left: 0.5rem;
      color: #8ba2ae; }
  .topbar .topbar__color-format {
    float: right;
    height: 3.5rem; }
    .topbar .topbar__color-format .awselect .front_face {
      height: 3.5rem; }

.app {
  width: 100%;
  height: calc(100vh - 5.5rem);
  padding: 2.5rem; }
  .app .app__palette {
    width: 100%;
    height: 100%; }
    .app .app__palette .app__palette-color {
      width: calc((100% - 2rem) / 2);
      height: calc(((100% - (2rem * 2)) / 3));
      display: block;
      float: left;
      background-color: #ffffff;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); }
      .app .app__palette .app__palette-color:not(:last-child):not(:nth-last-child(2)) {
        margin-bottom: 2rem; }
      .app .app__palette .app__palette-color:nth-child(odd) {
        margin-right: 2rem; }
      .app .app__palette .app__palette-color .app__color-content, .app .app__palette .app__palette-color .app__color-image-container {
        height: 100%;
        float: left; }
      .app .app__palette .app__palette-color .app__color-image-container {
        width: 30rem;
        height: 100%; }
        .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--color, .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--image {
          float: left;
          height: 100%; }
        .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--color {
          width: 1.25rem;
          background-color: #0f0; }
        .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--image {
          width: calc(100% - 1.25rem);
          background-image: linear-gradient(rgba(0, 255, 0, 0.75), rgba(0, 255, 0, 0.75)), url(../img/test_img.jpg);
          background-size: cover;
          background-position: center, calc(50% - 1rem) center;
          background-blend-mode: screen;
          clip-path: polygon(0 0, 100% 0, calc(100% - 5rem) 100%, 0 100%); }
      .app .app__palette .app__palette-color .app__color-content {
        width: calc(100% - 32.5rem);
        margin-left: 2.5rem;
        padding: 1.5rem 2rem;
        position: relative; }
        .app .app__palette .app__palette-color .app__color-content .app__color-top-area {
          float: right;
          line-height: 1.25;
          text-align: right;
          margin-bottom: 3.5rem; }
          .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-description, .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-title {
            display: inline;
            vertical-align: baseline; }
          .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-description {
            font-size: 1.5rem;
            color: #8ba2ae; }
          .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-title {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-left: .75rem; }
        .app .app__palette .app__palette-color .app__color-content .app__color-main-palette {
          width: 100%;
          float: left;
          clear: both;
          height: 11rem; }
          .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list {
            width: 100%;
            float: left;
            clear: both; }
            .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list:not(:last-child) {
              margin-bottom: 2rem; }
            .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color {
              --current-color: #0f0;
              width: 4.5rem;
              height: 4.5rem;
              float: left;
              position: relative;
              border-radius: 4px;
              box-shadow: none;
              cursor: pointer;
              transition: box-shadow .2s, transform .2s;
              background-color: var(--current-color); }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color::after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 6px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s;
                background-color: var(--current-color); }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:hover {
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
                transform: translateY(-0.25rem); }
                .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:hover svg {
                  opacity: 1; }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:active {
                box-shadow: 0 0.1rem 0.65rem rgba(0, 0, 0, 0.15);
                transform: translateY(-0.1rem); }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color.clicking::after {
                transform: scale(1.5);
                opacity: 0; }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:not(:last-child) {
                margin-right: calc((100% - (4.5rem * 5)) / 4); }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color svg {
                width: 1.75rem;
                height: 1.75rem;
                position: absolute;
                left: calc((4.5rem - 1.75rem) / 2);
                top: calc((4.5rem - 1.75rem) / 2);
                fill: #ffffff;
                opacity: 0;
                transition: opacity .2s; }
