/**

jQuery Awselect
Developed by: Prev Wong
Documentation: https://prevwong.github.io/awesome-select/
Github: https://github.com/prevwong/awesome-select/

**/
.immersive_awselect {
  overflow: hidden !important; }

.awselect_bg {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }
  .awselect_bg.animate {
    opacity: 1; }

.awselect {
  float: left;
  font-size: 1.4rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .awselect > .bg {
    background: #fff;
    height: 0%;
    float: left;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 3px !important;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .awselect .front_face {
    border-radius: 3px;
    position: relative;
    padding: 20px 40px;
    color: #888;
    float: left;
    width: 100%; }
    .awselect .front_face > .bg {
      position: absolute;
      z-index: 0;
      float: left;
      width: 100%;
      height: 100%;
      left: 0;
      background: #e5e5e5;
      top: 0;
      border-radius: 3px !important; }
    .awselect .front_face .content {
      float: left;
      width: 100%;
      position: relative;
      z-index: 2; }
    .awselect .front_face span {
      -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      float: left;
      width: 100%;
      color: inherit; }
    .awselect .front_face .current_value {
      position: absolute;
      left: 0; }
    .awselect .front_face .placeholder {
      position: relative;
      margin-right: 40px; }
    .awselect .front_face .icon {
      float: right;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: rotate(180deg) translateY(-50%);
      transform-origin: center 0;
      -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
      .awselect .front_face .icon svg {
        width: 10px;
        height: 10px; }
  .awselect .back_face {
    z-index: 2;
    position: absolute;
    padding: 0px;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(20px);
    opacity: 0;
    float: left;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    display: none; }
    .awselect .back_face.overflow {
      overflow-y: scroll; }
    .awselect .back_face ul {
      margin: 0;
      float: left;
      padding: 0;
      width: 100%; }
      .awselect .back_face ul li {
        float: left;
        width: 100%;
        display: block; }
        .awselect .back_face ul li a {
          color: inherit;
          opacity: 0.8;
          float: left;
          width: 100%;
          -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
          .awselect .back_face ul li a:hover {
            background: #455a64;
            opacity: 1; }
  .awselect.animate {
    z-index: 9999; }
    .awselect.animate .front_face .icon {
      transform: rotate(0deg) translateY(-50%); }
    .awselect.animate > .bg {
      height: 100%; }
  .awselect.animate2 > .bg {
    box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.11); }
  .awselect.animate2 .back_face {
    transform: translateY(0px);
    opacity: 1; }
  .awselect.hasValue .front_face .placeholder {
    transform: translateY(20px);
    opacity: 0; }
  .awselect.placeholder_animate .front_face .current_value {
    opacity: 0; }
  .awselect.placeholder_animate2 .front_face .placeholder {
    transform: translateY(0);
    opacity: 1; }
  .awselect.transition_paused {
    transition: none !important; }

.aw_cursor_pointer {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ddd;
  overflow: hidden;
  padding: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(0.5); }
  .aw_cursor_pointer .inner {
    float: left;
    width: 100%;
    height: 0%;
    background: #fff;
    border-radius: 100%;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .aw_cursor_pointer.animate {
    transform: scale(1); }
    .aw_cursor_pointer.animate .inner {
      height: 100%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh; }

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #37474F; }

::selection {
  background-color: rgba(55, 71, 79, 0.15); }

/*.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 20rem;
        transition: transform .2s, box-shadow .2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        display: inline-block;
        color: $color-primary;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        transition: background-color .2s, color .2s, box-shadow .2s, transform .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}*/
.fullscreen-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .4s; }
  .fullscreen-modal--opening, .fullscreen-modal--opened {
    display: block; }
  .fullscreen-modal--opening {
    opacity: 0; }
  .fullscreen-modal--opened {
    opacity: 1; }
  .fullscreen-modal__inner {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    width: 65rem;
    padding: 3rem 4rem;
    font-size: 1.6rem; }
    .fullscreen-modal__inner-close-btn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer; }
      .fullscreen-modal__inner-close-btn svg {
        width: 100%;
        height: auto;
        fill: #455A64;
        opacity: .5;
        transition: opacity .2s, transform .2s; }
      .fullscreen-modal__inner-close-btn:hover svg {
        opacity: 1;
        transform: scale(1.05); }
      .fullscreen-modal__inner-close-btn:active svg {
        transform: scale(1); }
    .fullscreen-modal__inner-title {
      font-size: 3.75rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      text-align: center;
      line-height: 1.35;
      margin-bottom: 3.5rem;
      color: var(--main-color); }
    .fullscreen-modal__inner p {
      margin-bottom: 1.25rem;
      overflow: hidden; }
      .fullscreen-modal__inner p strong, .fullscreen-modal__inner p span {
        display: block;
        float: left; }
      .fullscreen-modal__inner p strong {
        width: 10rem; }
      .fullscreen-modal__inner p span {
        width: calc(100% - 10.75rem);
        margin-left: .75rem;
        color: #56707c; }

.topbar {
  background-color: #ffffff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  height: 5.5rem;
  box-sizing: border-box;
  padding: 1rem 2.5rem; }
  @media only screen and (max-width: 500px) {
    .topbar {
      padding: 1rem 1.5rem; } }
  .topbar > * {
    display: block; }
  .topbar__logo {
    float: left; }
  .topbar__title, .topbar__description {
    display: inline;
    vertical-align: baseline; }
  .topbar__title {
    font-size: 1.95rem; }
  .topbar__description {
    font-size: 1.6rem;
    vertical-align: baseline;
    margin-left: 0.5rem;
    color: #8ba2ae; }
    @media only screen and (max-width: 1150px) {
      .topbar__description {
        display: none; } }
  .topbar__color-copied-alert {
    float: right;
    height: 3.5rem;
    padding: 0 1.5rem;
    line-height: 3.5rem;
    border-radius: 3px;
    font-size: 1.4rem;
    margin-right: 1rem;
    transition: opacity .2s; }
    .topbar__color-copied-alert:not(.topbar__color-copied-alert--displayed) {
      opacity: 0; }
  .topbar__color-format {
    float: right;
    height: 3.5rem; }
    .topbar__color-format .awselect .front_face {
      height: 3.5rem; }

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #eceff1; }

.footer {
  padding: 0 2.5rem;
  height: 5rem;
  padding-top: .5rem; }
  @media only screen and (max-width: 500px) {
    .footer {
      padding: 0 1.5rem; } }
  .footer__credits {
    display: block;
    font-size: 1.6rem;
    text-align: right;
    line-height: 4.5rem; }
  .footer a {
    color: #2188ff;
    text-decoration: none; }
    .footer a:hover {
      color: #2155ff;
      text-decoration: underline; }

.app {
  width: 100%;
  height: calc(100vh - 10.5rem);
  padding: 2.5rem 2.5rem 0 2.5rem; }
  @media only screen and (max-width: 500px) {
    .app {
      padding: 1.5rem 1.5rem 0 1.5rem; } }
  .app .app__palette {
    width: 100%;
    height: 100%; }
    .app .app__palette .app__palette-color {
      width: calc((100% - 2rem) / 2);
      height: calc(((100% - (2rem * 2)) / 3));
      display: block;
      float: left;
      background-color: #ffffff;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); }
      @media only screen and (min-width: 1150px) {
        .app .app__palette .app__palette-color:not(:last-child):not(:nth-last-child(2)) {
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 1150px) {
        .app .app__palette .app__palette-color {
          width: 100%;
          margin-bottom: 2rem;
          height: 22.5rem; } }
      @media only screen and (max-width: 750px) {
        .app .app__palette .app__palette-color {
          height: auto;
          overflow: hidden; } }
      .app .app__palette .app__palette-color:nth-child(odd) {
        margin-right: 2rem; }
        @media only screen and (max-width: 1150px) {
          .app .app__palette .app__palette-color:nth-child(odd) {
            margin-right: 0; } }
      .app .app__palette .app__palette-color .app__color-content, .app .app__palette .app__palette-color .app__color-image-container {
        height: 100%;
        float: left; }
        @media only screen and (max-width: 750px) {
          .app .app__palette .app__palette-color .app__color-content, .app .app__palette .app__palette-color .app__color-image-container {
            width: 100% !important; } }
      .app .app__palette .app__palette-color .app__color-image-container {
        width: 30rem;
        height: 100%; }
        @media only screen and (max-width: 750px) {
          .app .app__palette .app__palette-color .app__color-image-container {
            height: 30rem; } }
        .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--color, .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--image {
          float: left;
          height: 100%; }
        .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--color {
          width: 1.25rem;
          background-color: var(--main-color); }
        .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--image {
          width: calc(100% - 1.25rem);
          background-image: var(--color-gradient), var(--image-path);
          background-size: cover;
          background-position: center, calc(50% - 1rem) center;
          background-blend-mode: screen;
          clip-path: polygon(0 0, 100% 0, calc(100% - 5rem) 100%, 0 100%); }
          @media only screen and (max-width: 750px) {
            .app .app__palette .app__palette-color .app__color-image-container .app__color-image-container--image {
              background-position: center;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
      .app .app__palette .app__palette-color .app__color-content {
        width: calc(100% - 32.5rem);
        margin-left: 2.5rem;
        padding: 1.5rem 2rem;
        position: relative; }
        @media only screen and (max-width: 1430px) {
          .app .app__palette .app__palette-color .app__color-content {
            margin-left: 0;
            width: calc(100% - 30rem);
            padding-left: .5rem; } }
        @media only screen and (max-width: 1150px) {
          .app .app__palette .app__palette-color .app__color-content {
            width: 40rem;
            float: right; } }
        @media only screen and (max-width: 800px) {
          .app .app__palette .app__palette-color .app__color-content {
            width: calc(100% - 32.5rem); } }
        @media only screen and (max-width: 750px) {
          .app .app__palette .app__palette-color .app__color-content {
            height: 22.5rem;
            padding: 2.5rem; } }
        .app .app__palette .app__palette-color .app__color-content .app__color-top-area {
          float: right;
          line-height: 1.25;
          text-align: right;
          margin-bottom: 2.5rem; }
          .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-description, .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-title {
            display: inline;
            vertical-align: baseline; }
            @media only screen and (max-width: 1430px) {
              .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-description, .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-title {
                display: block; } }
          .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-description {
            font-size: 1.5rem;
            color: #8ba2ae; }
          .app .app__palette .app__palette-color .app__color-content .app__color-top-area .app__color-title {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-left: .75rem; }
        .app .app__palette .app__palette-color .app__color-content .app__color-main-palette {
          width: 100%;
          float: left;
          clear: both;
          height: 11rem; }
          .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list {
            width: 100%;
            float: left;
            clear: both; }
            .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list:not(:last-child) {
              margin-bottom: 2rem; }
            @media only screen and (min-width: 1150px) and (max-height: 750px) {
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list:not(:last-child) {
                margin-bottom: 1rem; } }
            @media only screen and (min-width: 1150px) and (max-height: 700px) {
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list:nth-child(2) {
                display: none; } }
            .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color {
              --current-color: transparent;
              width: 4.5rem;
              height: 4.5rem;
              float: left;
              position: relative;
              border-radius: 4px;
              box-shadow: none;
              cursor: pointer;
              transition: box-shadow .2s, transform .2s;
              background-color: var(--current-color); }
              @media only screen and (max-width: 1400px) and (min-width: 1150px) {
                .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color {
                  width: 4.25rem;
                  height: 4.25rem; } }
              @media only screen and (max-width: 1350px) and (min-width: 1150px) {
                .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color {
                  width: 3.75rem;
                  height: 3.75rem; } }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color::after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 6px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s;
                background-color: var(--current-color); }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:hover {
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
                transform: translateY(-0.25rem); }
                .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:hover svg {
                  opacity: 1; }
                .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:hover .app__color-colors-list-color--opacity {
                  opacity: 0; }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:active {
                box-shadow: 0 0.1rem 0.65rem rgba(0, 0, 0, 0.15);
                transform: translateY(-0.1rem); }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color--clicking::after {
                transform: scale(1.5);
                opacity: 0; }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color--clicked::after {
                transition: all 0s; }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:not(:last-child) {
                margin-right: calc((100% - (4.5rem * 5)) / 4); }
                @media only screen and (max-width: 1400px) and (min-width: 1150px) {
                  .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:not(:last-child) {
                    margin-right: calc((100% - (4.25rem * 5)) / 4); } }
                @media only screen and (max-width: 1350px) and (min-width: 1150px) {
                  .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color:not(:last-child) {
                    margin-right: calc((100% - (3.75rem * 5)) / 4); } }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color svg {
                width: 1.75rem;
                height: 1.75rem;
                position: absolute;
                left: calc((4.5rem - 1.75rem) / 2);
                top: calc((4.5rem - 1.75rem) / 2);
                fill: #ffffff;
                opacity: 0;
                transition: opacity .2s; }
                @media only screen and (max-width: 1400px) and (min-width: 1150px) {
                  .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color svg {
                    left: calc((4.25rem - 1.75rem) / 2);
                    top: calc((4.25rem - 1.75rem) / 2); } }
                @media only screen and (max-width: 1350px) and (min-width: 1150px) {
                  .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color svg {
                    left: calc((3.75rem - 1.75rem) / 2);
                    top: calc((3.75rem - 1.75rem) / 2); } }
              .app .app__palette .app__palette-color .app__color-content .app__color-main-palette .app__color-colors-list .app__color-colors-list-color--opacity {
                position: absolute;
                bottom: 0.35rem;
                right: 0.35rem;
                color: #fff;
                line-height: 1;
                /*opacity: .65;*/
                transition: opacity .2s;
                font-size: .85rem;
                display: none; }
