// This is an experimental file to try and recreate a "dark mode" on London Color Palette. It may be properly implemented in the near future.

$color-grey-dark: #78909C;
$color-grey-default: #B0BEC5;
$color-white: #13191c;
$color-black: #ffffff;

$color-grey-light-1: #111111;
$color-grey-light-2: #282828;

$color-link: #2188ff;
$color-link-hover: #2155ff;

// Font Sizes
$default-font-size: 1.6rem;

// for media queries
$break-desktop: 1430px;
$break-large: 1400px;
$break-medium: 1350px;

$break-tablet: 1150px;
$break-tablet-small: 800px;
$break-mobile: 750px;
$break-phone: 500px;

$break-small-height: 750px;
$break-smaller-height: 700px;