.topbar {
    background-color: $color-white;
    box-shadow: 0 .25rem 1rem rgba($color-black, .1);
    height: 5.5rem;
    box-sizing: border-box;
    padding: 1rem 2.5rem;

    @media only screen and (max-width: $break-phone) {
        padding: 1rem 1.5rem;
    }

    & > * {
        display: block;
    }

    &__logo {
        float: left;
    }

        &__title, &__description {
            display: inline;
            vertical-align: baseline;
        }

        &__title {
            font-size: 1.95rem;
        }

        &__description {
            font-size: 1.6rem;
            vertical-align: baseline;
            margin-left: 0.5rem;
            color: lighten($color-grey-dark, 35%);

            @media only screen and (max-width: $break-tablet) {
                display: none;
            }
        }

    &__color-copied-alert {
        float: right;
        height: 3.5rem;
        padding: 0 1.5rem;
        line-height: 3.5rem;
        border-radius: 3px;
        font-size: 1.4rem;
        margin-right: 1rem;

        transition: opacity .2s;

        &:not(&--displayed) {
            opacity: 0;
        }
    }
        
    &__color-format {
        float: right;
        height: 3.5rem;

        .awselect .front_face {
            height: 3.5rem;
        }
    }
}