.select-input-area {

    .select-input-area__input-label, .select-input-area__select-input {
        display: block;
        float: left;
    }
    
    .select-input-area__input-label {
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: 1.25rem;
        vertical-align: middle;
    }
}