.topbar {
    background-color: $color-white;
    box-shadow: 0 .25rem 1rem rgba($color-black, .1);
    height: 5.5rem;
    box-sizing: border-box;
    padding: 1rem 2.5rem;

    & > * {
        display: block;
    }

    .topbar__logo {
        float: left;

        .topbar__title, .topbar__description {
            display: inline;
            vertical-align: baseline;
        }

        .topbar__title {
            font-size: 1.95rem;
        }

        .topbar__description {
            font-size: 1.6rem;
            vertical-align: baseline;
            margin-left: 0.5rem;
            color: lighten($color-grey-dark, 35%);
        }
    }

    .topbar__color-format {
        float: right;
        height: 3.5rem;

        .awselect .front_face {
            height: 3.5rem;
        }
    }
}

.app {
    width: 100%;
    height: calc(100vh - 5.5rem);
    padding: 2.5rem;

    .app__palette {
        width: 100%;
        height: 100%;

        .app__palette-color {
            width: calc((100% - 2rem) / 2);
            height: calc(((100% - (2rem * 2)) / 3));

            display: block;
            float: left;

            background-color: $color-white;
            border-radius: 3px;
            overflow: hidden;
            box-shadow: 0 .25rem .75rem rgba($color-black, .1);

            &:not(:last-child):not(:nth-last-child(2)) {
                margin-bottom: 2rem;
            }

            &:nth-child(odd) {
                margin-right: 2rem;
            }

            .app__color-content, .app__color-image-container {
                height: 100%;
                float: left;
            }
            
            .app__color-image-container {
                width: 30rem;
                height: 100%;

                .app__color-image-container--color, .app__color-image-container--image {
                    float: left;
                    height: 100%;
                }
                
                .app__color-image-container--color {
                    width: 1.25rem;
                    background-color: #2188ff;
                }
                .app__color-image-container--image {
                    width: calc(100% - 1.25rem);
                    background-image: linear-gradient(rgba(#2188ff, .75), rgba(#2188ff, .75)), url(../img/test_img.jpg);
                    background-size: cover;
                    background-position: center;
                    background-blend-mode: screen;
                    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
                }
            }
            
            .app__color-content {
                width: calc(100% - 30rem);
                padding: 1.75rem 2rem;
                position: relative;

                .app__color-top-area {
                    position: absolute;
                    right: 1.75rem;
                    top: 1.5rem;
                    line-height: 1.25;
                    text-align: right;

                    .app__color-description, .app__color-title {
                        display: inline;
                        vertical-align: baseline;
                    }

                    .app__color-description {
                        font-size: 1.5rem;
                        color: lighten($color-grey-dark, 35%);
                    }
                    
                    .app__color-title {
                        font-size: 2rem;
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        margin-left: .75rem;
                    }
                }
            }
        }
    }
}