.topbar {
    background-color: $color-white;
    box-shadow: 0 .25rem 1rem rgba($color-black, .1);
    height: 5.5rem;
    box-sizing: border-box;
    padding: 1rem 2.5rem;

    & > * {
        display: block;
    }

    .topbar__logo {
        float: left;

        .topbar__title, .topbar__description {
            display: inline;
            vertical-align: baseline;
        }

        .topbar__title {
            font-size: 1.95rem;
        }

        .topbar__description {
            font-size: 1.6rem;
            vertical-align: baseline;
            margin-left: 0.5rem;
            color: lighten($color-grey-dark, 35%);
        }
    }

    .topbar__color-format {
        float: right;
        height: 3.5rem;

        .awselect .front_face {
            height: 3.5rem;
        }
    }
}

.app {
    width: 100%;
    height: calc(100vh - 5.5rem);
    padding: 2.5rem;

    .app__palette {
        width: 100%;
        height: 100%;

        .app__palette-color {
            width: calc((100% - 2.5rem) / 2);
            height: calc(((100% - (2.5rem * 3)) / 4));

            display: block;
            float: left;

            background-color: $color-white;
            border-radius: 3px;
            box-shadow: 0 .25rem .75rem rgba($color-black, .1);

            &:not(:last-child):not(:nth-last-child(2)) {
                margin-bottom: 2.5rem;
            }

            &:nth-child(odd) {
                margin-right: 2.5rem;
            }
        }
    }
}