.topbar {
    background-color: $color-white;
    box-shadow: 0 .25rem 1rem rgba($color-black, .1);
    height: 5.5rem;
    box-sizing: border-box;
    padding: 1rem 2.5rem;
    position: sticky;
    top: 0;
    z-index: 9999;

    transition: max-height .3s;

    @media only screen and (max-width: $break-tablet-small) {
        height: auto;
        max-height: 5.5rem;
        overflow: hidden;
    }

    @media only screen and (max-width: $break-phone) {
        padding: 1rem 1.5rem;
    }

    &--taller {
        max-height: 10rem;
    }

    & > * {
        display: block;
    }

    &__logo {
        float: left;
    }

        &__home-link {
            display: inline-block;
            overflow-y: hidden;
            vertical-align: bottom;
            height: 3.5rem;
            width: 5.5rem;
            position: relative;
            transform-origin: center left;
            transform: scale(.65) translateX(-.5rem);
            transition: transform .2s, opacity .2s;
            opacity: .9;
            
            svg {
                height: 3.5rem;
                width: auto;
                fill: darken($color-grey-dark, 10%);

                @media only screen and (min-width: $break-mobile) {
                    &.rectangle {
                        transform-origin: center left;
                        transform: scale(1.15, .175);
                        transition: opacity .2s;
                        opacity: 0;
                        position: absolute;
                        left: 1.5rem;
                    }
                }
            }

            @media only screen and (min-width: $break-mobile) {
                &:hover {
                    transform: scale(.65) translateX(-1.75rem);
                    opacity: 1;
                    
                    svg.rectangle {
                        opacity: 1;
                    }
                }
            }

            @media only screen and (max-width: $break-mobile) {
                transition: opacity .125s;
                width: 4.5rem;

                &:active {
                    opacity: .2;
                }
            }
        }

        &__title, &__description {
            display: inline;
            vertical-align: baseline;
        }

        &__title {
            font-size: 1.95rem;
            margin-left: -1.5rem;
        }

        &__description {
            font-size: 1.6rem;
            vertical-align: baseline;
            margin-left: 0.5rem;
            color: lighten($color-grey-dark, 35%);

            @media only screen and (max-width: $break-tablet) {
                display: none;
            }
        }

    &__color-copied-alert {
        float: right;
        height: 3.5rem;
        padding: 0 1.5rem;
        line-height: 3.5rem;
        border-radius: 3px;
        font-size: 1.4rem;
        margin-right: 1rem;

        transition: opacity .2s;

        @media only screen and (max-width: $break-mobile) {
            margin-right: 0;
            margin-top: 1rem;
            width: 100%;
            text-align: center;
            transition: none;
        }

        &:not(&--displayed) {
            opacity: 0;
        }
    }
        
    &__color-format {
        float: right;
        height: 3.5rem;

        .awselect .front_face {
            height: 3.5rem;
        }
    }
}