.tabs {
    position: relative;
    
    &__tabselect {
        display: block;
        height: 6.5rem;
        padding: 1.5rem 1.5rem;
        border-bottom: 1px solid darken($color-grey-light-2, 5%);
        margin: 3.5rem 0;
        margin-top: 3rem;
        zoom: .95;
        width: calc(100% + 3rem);
        margin-left: -1.5rem;
        background-color: $color-white;
        position: sticky;
        top: 0;
        z-index: 9999;

        &-button {
            display: inline-block;
            height: 3.5rem;
            line-height: 3.5rem;
            padding: 0 1.25rem;
            background-color: transparent;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: lighten($color-grey-default, 25%);
            border-radius: 3px;
            cursor: pointer;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:hover {
                background-color: $color-grey-light-2;
                color: $color-grey-default;
            }
        }
    }

    &__sections-section {
        width: 100%;
        display: none;
    }

    // about page
    .tabs__sections-section--about {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }

    // tab functionality
    &--show-about .tabs__tabselect-button--about,
    &--show-colors .tabs__tabselect-button--colors,
    &--show-cities .tabs__tabselect-button--cities {
        background-color: lighten($color-grey-default, 10%);
        color: $color-white;
    }

    &--show-cities .tabs__sections-section--cities,
    &--show-colors .tabs__sections-section--colors,
    &--show-about .tabs__sections-section--about {
        display: block;
    }
}

.footer {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $color-grey-light-2;
    margin-top: .5rem;
}